
footer {
    @extend .container-fluid;
    background: $primary;
    padding: 1rem;


    a {
        color: white;
        display: block;
        font-size: 14px;
        text-decoration: none !important;

        img {
            height: 14px;
            filter: brightness(0) invert(1);

        }

        &:hover {
            color: darken(white, 10);
        }
    }
}
